[submodule "sheepdogblog"]
	path = sheepdogblog
	url = https://github.com/farhan5248/sheepdogblog.git
[submodule "demingdriventesting"]
	path = demingdriventesting
	url = https://github.com/farhan5248/demingdriventesting.git
[submodule "specificationbyprompt"]
	path = specificationbyprompt
	url = https://github.com/farhan5248/specificationbyprompt.git
